/**
 * Variables
 */
$white: #fff;
$black: #000;

$dark: #252525;
$gray: #919191;
$light-gray: #e4e4e4;
$very-light-gray: #f8f9fc;

$theme-color: #d13835;
$theme-color2: #e95352;
$text-color: #030303;

$border-color: #929292;
$input-color: #313131;

$error-color: #d13835;

$font-primary: "Oswald", sans-serif;

$bold: 700;
$semi-bold: 600;
$medium: 500;
$regular: 400;
$light: 300;

$theme-border-radius: 0;
